<li class="list"><p class = "country-text">Country: <span class="span-text">{{country.name.official}}</span></p>
<div class='country-text'>Flag: <img class='flag' src={{country.flags.svg}} alt='flag' /></div>
<p class = "country-text">Language: <span class="span-text">{{Object.values(country.languages).join(', ')}}</span></p>
<p class = "country-text">Population: <span class="span-text">{{country.population}}</span></p></li>
<p class = "country-text">Capital: <span class="span-text">{{country.capital.join('')}}</span></p>